body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

/* END HEADER */

.row {
	padding: 5px;
}

#Our-Menu {
	text-align: center;
	padding: 15px;
	color:black;
}

#Chicken-tile, #Beef-tile, #Sushi-tile  {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid green;
  overflow: hidden;
  text-align: center;
  color: black;
}

.navbar-toggler {
	background color:black;
}